<div class="card-content blue-grey white-text z-depth-3">
  <h2 class="title-head">Contact</h2>
</div>

<div class="card-content blue-grey white-text z-depth-3">
  <p class="main-paragraph-text">
    Thanks for checking out my site! Feel free to connect with me through the following avenues:
  </p>
  <div class="links row">
    <div class="col s12 m6 l3">
      <a class="waves-effect waves-light btn" href="https://www.linkedin.com/in/masen-matthews-codes/">LinkedIn</a>
    </div>
    <div class="col s12 m6 l3">
      <a class="waves-effect waves-light btn" href="https://github.com/masenmatthews">GitHub</a>
    </div>
    <div class="col s12 m6 l3">
      <a class="waves-effect waves-light btn" href="https://twitter.com/masen_matthews">Twitter</a>
    </div>
  </div>
  <p class="main-paragraph-text">
    I am also the co-founder of an awesome Meetup in Portland! It's called Portland Future Leaders In Tech (pdxFLIT). You can check it out <a href="https://www.meetup.com/pdxFLIT-Portland-Future-Leaders-In-Tech/">here!</a>
  </p>
</div>
