<div class="card-content blue-grey white-text z-depth-3">
  <h2 class="title-head">About</h2>
</div>

<div class="card-content blue-grey white-text z-depth-3">
  <h5 class="about-page-head">
    Hi, I'm Masen.
  </h5>
  <p class="main-paragraph-text">
    Thanks for visiting my portfolio site! I'm currently residing in Portland, OR and grew up in Boise, ID. I've been coding since the beginning of 2018 and have a B.S. in Sociology. My ultimate goal is to find a career that allows me to combine my technical skills with the lessons that I learned while obtaining my degree. I'm passionate about inclusivity, civic activism, community involvement, social and economic justice, and a wide variety of other related topics.
  </p>
  <p class="main-paragraph-text">
    Outside of coding, I enjoy playing guitar, doing yoga, running, cooking hearty vegan meals, exploring nature, and trying new things. I also attend a lot of shows in the Portland area. If you ever see a 6' 2", pale-skinned man with bright blonde hair and thickly rimmed glasses at Wonder Ballroom, it might be me.
  </p>
  <p class="main-paragraph-text">
    I'm always looking for oppurtunities to get involved with awesome causes, participate in collaborative projects, play music, and do other exciting things with others. Please feel free to reach out if you would like to discuss the possibility of doing anything of this sort with me.
  </p>
</div>
