<div class="card-content blue-grey white-text z-depth-3">
  <h2>Edit post</h2>
</div>

<%= render "posts/form" %>
<p><%= link_to "Delete", post_path(@post),
  :data =>
    {:confirm => "Are you sure?",
     :method => "delete"} %></p>
<p><%= link_to "Return to product page", post_path %><p>
