<div class="well">
  <h2>Posts</h2>

<p><%= link_to "New post", new_post_path %></p>

  <% if @posts.any? %>
    <ul>
      <% @posts.each do |post| %>
      <li><%= link_to post.post_title, post_path(post) %></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no posts yet!</p>
    <% end %>
</div>
