<div class="jumbotron">
  <h1 class="title-head">Blog</h1>
</div>

<div class="well">
<p><%= link_to "New post", new_post_path %></p>

  <% if @posts.any? %>
    <ul>
      <% @posts.each do |post| %>
      <li><%= link_to post.post_title, post_path(post) %></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no posts yet!</p>
    <% end %>
</div>
