// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

body {
  background-image: image-url('background.jpeg');
}
// gray darken-3

a:link, a:visited, a:hover {
  color: white;
}

img {
  max-width: 300px;
  max-height: 400px;
  padding-right: 10px;
  padding-bottom: 10px;
  float: left;
}

.title-head {
  text-align: center;
}

.main-paragraph-text {
  font-size: 1.25em;
  text-align: center;
}

.navbar-brand {
  color: 00695c;
}
// teal-darken-3

.contact-bullet {
  text-align: center;
}

.login-page-head {
  text-align: center;
}

.about-page-head {
  text-align: center;
  font-weight: bold;
}

.post-detail-head {
  text-align: center;
}

.blog-title {
  font-size: 1.5em;
}

.links-container {
  text-align: center;
}
