<div class="card-content blue-grey white-text z-depth-3">
  <h2 class="title-head">Masen's Portfolio</h2>
</div>

<div class="card-content blue-grey white-text z-depth-3">
  <p class="main-paragraph-text">
    Welcome to my portfolio! This site is currently under construction.
  </p>
</div>
